{% extends "base.html"%}

{% block title %} Busqueda de informacion {% endblock %}

<!-- esta plantilla registro.html hereda la estructura de base.html, por ello 
la primera linea de una plantilla que aplica la herencia es la siguiente -->

{% block content %} 
<p style="color:white;font-size: 1rem;">Interfaz de visualizacion de resultados de búsqueda </p>
<p style= "color:white;font-size: 1rem; text-align: right;">{{fecha_actual}}</p> 

<div style="color: white; font-size: 0.8rem;">
<form action="/resultados_transacciones/" method="GET">

<!--  esta linea activa una url a traves de la cual pasa el lo que se almacena mas abajo en 
    "prd" como lo se porque despues esta url debe exister en urls.py y contener una vista o 
    funcion para que todo tenga sentido en otras palabras este template busqueda_productos pasa
    al servidor una url donde se alojaran los resultados, ademas en la misma url le pasa el dato
    almacenado en el cuadro de texto-->
<!--La siguiente linea arma un cuadro de texto de busqueda el nombre es importante
    para rescatar la informacion del cuadro de texto-->
Cedula productor
<p> <input type="text" name="cc" title= "Cedula productor"> </p>
<!--La siguiente linea crea un boton de enviar con el texto de buscar-->
Fecha de venta AAAA-MM-DD
<!-- NUEVO BOTON DE BUSQUEDA DE FECHAS -->
<p> <input type="text" name="fcv" title= "Fecha de venta" > </p>

<p> <input type="submit" value="Buscar"> </p>



<!-- Luego de hacer el formulario se crea una url y se debe crear una vista
        En views.py se crea la funcion o  vista
        
    -->
 
 
 
 </form>
 
</div>
{% endblock %}