<html>
    <style>
        #barra{
            margin: 0;
            padding: 0;
            list-style: none;
            text-transform: uppercase;

        }
        #barra li{
            display: inline;
            margin: 0 50px;
        }
    </style>
    <body>
        <ul id="barra">
            <li> Inicio </li>
            <li> Registro de Información </li>
            <li> Trazabilidad para clientes </li>
            <li> Reportes </li>
            <li> Contacto </li>
        </ul>


    </body>


</html>